*{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
}

.img{
  height: 150px;
}

.ng-invalid.ng-dirty{
  border-color: palevioletred;
}

.ng-valid.ng-dirty{
  border-color: mediumseagreen;
}

.navbar-left{
  float: left;
}

.search{ 
  min-width: 350px;
  width: 35%;
  float: right;
  height: 50px;
  padding: 7px;
}

.search__icon{
  float: left;
  padding: 8px;
}
.search__input{
  width: 90%;
}

.top_menu{
  width: 100%;
  height: 50px;
}

.basket_sign{
  display: block;
  height: 50px;
  width: 60px;
  top: 0px;
  position: relative;
  float: right;
  margin-right: 15px;
}

.basket_sign__link{
  display: block;
  height: 25px;
  widows: 50px;    
}


.basket_sign__block{
  display: block;
  height: 25px;
  widows: 50px;  
}

.basket__confirm_btn{
  margin-bottom: 50px;
}

.group_buttons{
  position: relative;
  top: -40px;
  width: 250px;
}
.group_buttons__item{
  width: 110px;
}

.phone{
  height: 285;
  width: 280px;   
  margin: 40px 0px 40px 0px; 
  text-align: center;
}

.phone__img{
  height: 150px;
}

.phone__title{
  height: 40px;
}

.phone__price{
  
}

.phone_item__description{
  text-align: justify;
  margin-bottom: 25px;
}

.phone_item__name{
  font-weight: bold;
  margin-right: 10px;
}

.phone_item__price{
  font-weight: bold;
  color: rgb(104, 161, 104);
  margin-right: 10px;
}

.phone_item__addBtn{
  width: 70px;  
  margin-bottom: 10px;
}

.phone_item-display-inline{
  display: inline-block
}

.phone_item__title{
  text-align: center;  
}

.phones{
  width: 100%;
}

.order{
  text-align: center;
  margin: 0 auto;
}

.order__title{
  margin-bottom: 30px;
}

.order_form{
  width: 500px;
  margin: 0 auto;  
}

.order_form__input{
  margin-bottom: 20px;
}

.order_form__submit_btn{
  float: left;
}

.order__total{
  float: right;
}

.gallery{
  text-align: center;
}

.gallery__current_img{
  height: 100%;  
  margin-bottom: 25px;  
}

.gallery__images_item{
  display: inline-block;  
}

.commits{
  width: 50%;
  margin: auto;
  margin-bottom: 50px;
}

.commits__item{
  border-left: 1px solid rgb(208, 203, 203);  
  margin-bottom: 15px;
}

.commit_form__submit_btn{
  width: 70px;  
}

.commit_margin-button{
  margin-bottom: 10px;
}

.specifications{
  margin-bottom: 20px;
}

.basket__title{
  text-align: center;
  margin-bottom: 50px;
}

.basket_list{
  display: block;
  clear: both;
  margin-bottom: 50px;
}

.basket_list__img{
  display: inline;
  height: 80px;
  float: left;
  clear: left;
  margin-right: 50px;
  position: relative;
  top: -22px;
}

.basket_list__name{
  display: inline;
  float: left;
  font-weight: bold;
}

.basket_list__price{
  display: inline;
  float: right; 
  margin-right: 50px;
}

.basket_list__remove_btn{
  display: inline;
  float: right;  
}

.basket__confirm_btn{
  float: right;
  clear: both;
}

.basket__is_empty{  
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  height: 50px;
  width: 200px;
  color: darkslategray;
  font-weight: bold;
  font-size: 15px;
  border: 2px dashed coral;
  border-radius: 4px;
}

.clearfix{
  clear: both;
}

.e404__img{
  width: 630px;
  height: 420px;
  background-image: url(../img/404.jpg);
  border: 1px solid black;
  border-radius: 10px;
}

.e404__title{
  position: relative;
  color: white;
  top: -90px;
  left: 130px;
  font-weight: bolder;
  font-size: 50px;
}

.e404__link{
  
}

body{
  min-width: 375px;
}