<div class="group_buttons">
  <button type="text" class="btn btn-default group_buttons__item" ng-click="phonesCtrl.sortingByItem('id')">Name <i class="glyphicon glyphicon-sort"></i></button>
  <button type="text" class="btn btn-default group_buttons__item" ng-click="phonesCtrl.sortingByItem('price')">Price <i class="glyphicon glyphicon-sort"></i></button>
</div>
<div class="phones">
  <div class="col-md-3 col-sm-6 col-xs-12 phone phone-sm" ng-repeat="phone in phonesCtrl.phones | filter:mainCtrl.searcher.searchText | orderBy:phonesCtrl.sort" ng-init="phone.index=$index">
   {{ phonesCtrl.setOrder($index, phone.id) }}
    <a ui-sref="phone({id: '{{ phone.id }}'})" class="phone__link">
      <img class="img phone__img phone__img-sm" ng-src="/{{ phone.imageUrl }}" alt="{{ phone.name }}">
      <h4 class="phone__title phone__title-sm">{{ phone.name }}</h4>
    </a>    
    <h3 class="phone__price phone__price-sm">{{ phone.price | currency }}</h3>
    <button type="button" class="btn btn-default phone__add_btn" ng-click="basketService.addProductToBasket(phone)">Add to cart</button> 
  </div>  
</div>