<!doctype html>
<html ng-app="phoneApp">
  <head>
    <meta charset="UTF-8">
    <title>NG-TEST</title>
    
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    
    <script src="lib/angular.js"></script>
    <script src="lib/angular-ui-router.js"></script>
    <script src="lib/angular-resource.js"></script>
    <script src="lib/jquery.js"></script>
    
    
    <!--  MODULES  -->
    <script src="js/app.js"></script>
    <script src="js/searcher/searcher.js"></script>    
    <script src="js/phones/phones.js"></script>
    <script src="js/phone/phone.js"></script>
    <script src="js/commit/commit.js"></script>
    <script src="js/order/order.js"></script>
    <!--  MODULES  -->
    
    <!--  SERVICES  -->
    <script src="js/services/phonesService.js"></script>    
    <script src="js/services/phoneService.js"></script>    
    <script src="js/services/basketService.js"></script>    
    <!--  SERVICES  --> 
    
    <!--  ROUTES  -->
    <script src="js/routes/phonesRoute.js"></script>
    <!--  ROUTES  -->
    
    <!--  DIRECTIVES  -->
    <script src="js/phone/directives/specifications.js"></script>
    <script src="js/phone/directives/gallery.js"></script>
    <script src="js/commit/directives/commit.js"></script>
    <!--  DIRECTIVES  -->
    
  </head>
  <body ng-controller="mainController as mainCtrl" ng-cloak>
    <header>
     
      <nav class="navbar navbar-default">
        <div class="container">

          <div class="navbar-header">
            <a ui-sref="phones" class="navbar-brand">PhoneStore</a>
          </div>

          <ul class="nav navbar-nav navbar-left">
            <li><a ui-sref="phones"><i class="glyphicon glyphicon-home"></i> HOME</a></li>
            <li><a ui-sref="about"><i class="glyphicon glyphicon-user"></i> ABOUT</a></li>
            <li><a ui-sref="contact"><i class="glyphicon glyphicon-envelope"></i> CONTACT US</a></li>
          </ul>
          
          <div class="search" ng-hide="isDisabled()" ng-controller="searcherController as searcherCtrl">  
            <span class="glyphicon glyphicon-search search__icon"></span>          
            <input type="text" placeholder="Find a product" class="form-control search__input" ng-model="mainCtrl.searcher.searchText" />
          </div>

        </div>
      </nav>
      
    </header>  
    
    <div class="container">
      <div class="top_menu">
        <div class="basket_sign">          
          <a class="basket_sign__link" ui-sref="basket">
            <img class="basket_sign__img" src="img/shopping_cart.png" alt="">
            <span class="badge basket_sign__badge">{{ basketService.getProducts.length }}</span>
          </a>
          <h5 class="basket_sign__total">{{ basketService.getTotalPrice() | currency }}</h5>          
        </div>  
      </div>      
      
      <div ui-view></div>
    </div>
    
  </body>
</html>