<div class="gallery">
  <img class="img gallery__current_img" ng-src="/{{ getCurrentImg() }}" alt="{{ phoneObject.name }}">  
  <ul class="gallery__images">
    <li class="gallery__images_item" ng-repeat="img in phoneObject.images">
      <img class="img gallery__img" ng-src="/{{ img }}" alt="{{ phoneObject.name }}" ng-click="setCurrentImg({imgUrl: img})">
    </li>
  </ul>  
</div>