<div class="group_buttons">
  <button class="btn btn-default group_buttons__item" ng-click="phoneCtrl.switchTo('previous')" ng-disabled="orderArr.indexOf(phoneCtrl.phone.id) === 0"><span class="glyphicon glyphicon-chevron-left"></span> Previous</button>
  <button class="btn btn-default group_buttons__item" ng-click="phoneCtrl.switchTo('next')" ng-disabled="orderArr.length > 0 && orderArr.indexOf(phoneCtrl.phone.id) === orderArr.length - 1">Next <span class="glyphicon glyphicon-chevron-right"></span></button>  
</div>
<div class="col-md-12 phone_item">	
 
  <div class="phone_item__title">
    <h3 class="phone_item__name phone_item-display-inline">{{ phoneCtrl.phone.name }}</h4>
    <h3 class="phone_item__price phone_item-display-inline">{{ phoneCtrl.phone.price | currency }}</h3>
    <button type="submit" class="btn btn-default phone_item__addBtn phone_item-display-inline" ng-click="basketService.addProductToBasket(phoneCtrl.phone)">Add</button>
  </div>	
     
  <p class="phone_item__description">{{ phoneCtrl.phone.description }}</p>
  
  <gallery phone-object="phoneCtrl.phone" get-current-img="phoneCtrl.getCurrentImg()" set-current-img="phoneCtrl.setCurrentImg(imgUrl)"></gallery>
  
  <specifications phone="phoneCtrl.phone"></specifications>
  
  <div class="commits">
    <div class="commits__item" ng-repeat="commit in phoneCtrl.commits">   
      <blockquote>
        <h4 class="commits__author">{{ commit.author }}</h3>
        <h6 class="commits__email">{{ commit.email }}</h4>
        <p class="commits__commit"><b>Commit:</b> {{ commit.text }}</p>
      </blockquote>        
    </div>
    <commit></commit>  
  </div>  
</div>
