<div class="specifications table-responsive">
  <table class="table table-striped spcf_table">
    <thead>
      <tr>
        <th colspan="5" class="spcf_table__title">SPECIFICATIONS</th>
      </tr>
    </thead>
    <tr>
      <th class="spcf_table__item">OS</th>
      <td class="spcf_table__item">{{ phone.android.os + ' ' + phone.android.ui}}</td>
      <th class="spcf_table__table_item">Display resolution</th>
      <td class="spcf_table__table_item">{{ phone.display.screenResolution }}</td>
    </tr>
    <tr>
      <th class="spcf_table__table_item">Display size</th>
      <td class="spcf_table__table_item">{{ phone.display.screenSize }}</td>
      <th class="spcf_table__table_item">Touch screen</th>
      <td class="spcf_table__table_item"><span ng-class="{'glyphicon glyphicon-ok': phone.display.touchScreen, 'glyphicon glyphicon-remove': !phone.display.touchScreen}" aria-hidden="true"></span></td>
    </tr>
    <tr>
      <th class="spcf_table__table_item">CPU</th>
      <td class="spcf_table__table_item">{{ phone.hardware.cpu }}</td>
      <th class="spcf_table__table_item">Accelerometer</th>
      <td class="spcf_table__table_item"><span ng-class="{'glyphicon glyphicon-ok': phone.hardware.accelerometer, 'glyphicon glyphicon-remove': !phone.hardware.accelerometer}"></span></td>
    </tr>
    <tr>
      <th class="spcf_table__table_item">FM Radio</th>
      <td class="spcf_table__table_item"><span ng-class="{'glyphicon glyphicon-ok': phone.hardware.fmRadio, 'glyphicon glyphicon-remove': !phone.hardware.fmRadio}"></span></td>
      <th class="spcf_table__table_item">GPS</th>
      <td class="spcf_table__table_item"><span ng-class="{'glyphicon glyphicon-ok':phone.connectivity.gps, 'glyphicon glyphicon-remove': !phone.connectivity.gps}"></span></td>
    </tr>
    <tr>
      <th class="spcf_table__table_item">Size and Weight</th>
      <td class="spcf_table__table_item">{{ phone.sizeAndWeight.dimensions[0] }}</td>
      <td class="spcf_table__table_item">{{ phone.sizeAndWeight.dimensions[1] }}</td>
      <td class="spcf_table__table_item">{{ phone.sizeAndWeight.dimensions[2] }}</td>
    </tr>
  </table>
</div>