<div class="commit" ng-controller="commitController as commitCtrl">
  <form  name="commit" class="commit_form" ng-submit="commit.$valid && commitCtrl.addCommit(phoneCtrl.commits)" novalidate>
    <input class="form-control commit_form__input commit_margin-button" type="text" placeholder="Name" ng-model="commitCtrl.commit.author" required />
    <input class="form-control commit_form__input commit_margin-button" type="email" placeholder="E-mail" ng-model="commitCtrl.commit.email" required />
    <textarea class="form-control commit_form__textaria commit_margin-button" name="" id="" cols="30" rows="10" placeholder="Text" ng-model="commitCtrl.commit.text" required></textarea>
    <button type="submit" class="btn btn-default commit_form__submit_btn">Add</button>
  </form>
</div>
 