<div class="basket">
  <h4 class="basket__title">Items in your cart</h4>
  <ul class="basket__list">
    <li class="basket_list" ng-repeat="product in basketService.getProducts() track by $index">
      <a class="basket_list__link" ui-sref="phone({id: '{{ product.id }}'})">
        <img ng-src="/{{ product.imageUrl || product.images[0] }}" class="basket_list__img" alt="{{ product.name }}">      
        <h5 class="basket_list__name">{{ product.name }}</h5>
      </a>      
      <button type="button" class="btn btn-default basket_list__remove_btn" ng-click="basketService.removeProduct($index)">remove</button>
      <h5 class="basket_list__price">{{ product.price | currency }}</h5>
      <div class="clearfix"></div>      
    </li>
    <li class="basket_list__warning" ng-show="basketService.getProducts().length === 0"><p class="basket__is_empty">Basket is empty :-(</p></li>
  </ul>
  <button type="button" class="btn btn-default basket__confirm_btn" ui-sref="order" ng-disabled="basketService.getProducts().length === 0">Confirm order</button>
</div>