<div class="order">
  <h2 class="order__title">Order Details</h2>
  <form name="orderForm" class="order_form" ng-submit="orderForm.$valid && orderCtrl.addOrder()" novalidate>
    <input type="text" class="form-control order_form__input" placeholder="Your name (Yok Makarek)" ng-model="orderCtrl.order.name" required />
    <input type="email" class="form-control order_form__input" placeholder="Your email (example@mail.com)" ng-model="orderCtrl.order.email" required />
    <input type="number" class="form-control order_form__input" placeholder="Your phone number (38-000-000-00-00)" ng-model="orderCtrl.order.phoneNumber" required />
    <button type="submit" class="btn btn-default order_form__submit_btn" ng-disabled="orderCtrl.getTotalPrice() === 0">Confirm</button>
    <h4 class="order__total">Total: {{ basketService.getTotalPrice() | currency }}</h4>
  </form>  
</div>